
#wander-slider-wrapper {
  height: 200px;
  background-color: #eaeaea;
  overflow: hidden;
  position: relative;
}

.wander-slider-item {
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: cadetblue;
  border: 1px solid #333;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.centerItem {
  left: 50%;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.firstLeftItem {
  left: 25%;
  width: 100px;
  height: 100px;
  opacity: 0.5;
  z-index: 900;
}

.secondLeftItem {
  left: 10%;
  width: 70px;
  height: 70px;
  opacity: 0.2;
  z-index: 800;
}

.firstRightItem {
  left: 75%;
  width: 100px;
  height: 100px;
  opacity: 0.5;
  z-index: 900;
}

.secondRightItem {
  left: 90%;
  width: 70px;
  height: 70px;
  opacity: 0.2;
  z-index: 800;
}

.hideCardItem {
  display: none;
}
